<%= form_with model: @page do |form| %>
    
    <div>
        <%= link_to "Back to Previous Page", :back %>
    </div>

    <br>

    <div>
      <%= form.label :name, "Name of Your Shoe:" %><br>
      <%= form.text_field :name %>
      <% page.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <br>

    <div>
      <%= form.label :brand, "Brand:" %><br>
      <%= form.text_field :brand %><br>
      <% page.errors.full_messages_for(:brand).each do |message| %>
        <div><%= message %></div> 
      <% end %>
    </div>

    <br>

    <div>
      <%= form.label :size, "Size:" %><br>
      <%= form.text_field :size %>
      <% page.errors.full_messages_for(:size).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <br>

    <div>
      <%= form.label :status, "Status:" %><br>
      <%= form.select :status, [['Available'], ['Sold - Not Yet Shipped'], ['Sold - Shipped']] %><br>
      <% page.errors.full_messages_for(:status).each do |message| %>
        <div><%= message %></div> 
      <% end %>
    </div>

    <br>

    <div>
      <%= form.label :condition, "Condition:" %><br>
      <%= form.select :condition, [['New - Never Worn'], ['Excellent Used Condition'], ['Good Used Condition'], ['Very Used Condition']] %><br>
      <% page.errors.full_messages_for(:condition).each do |message| %>
        <div><%= message %></div> 
      <% end %>
    </div>

    <br>

    <div>
      <%= form.label :box, "Original Box:" %><br>
      <%= form.select :box, [['Yes'], ['No']] %><br>
      <% page.errors.full_messages_for(:box).each do |message| %>
        <div><%= message %></div> 
      <% end %>
    </div>

    <br>
    
    <div>
      <%= form.label "Upload Photo" %>
      <%= form.file_field :image %><br>
    </div>

    <br>

    <div>
      <%= form.label :price1, "Purchase Price:" %><br>
      <%= form.text_field :price1 %><br>
      <% page.errors.full_messages_for(:price1).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <br>  

    <div>
      <%= form.label :price2, "Sold For:" %><br>
      <%= form.text_field :price2 %><br>
      <% page.errors.full_messages_for(:price2).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <br>  

    <div>
      <%= form.submit "Submit" %>
    </div>
  <% end %>
  