<h1>SHOE THERAPY</h1>

<nav>
  <a><%= button_to link_to "ADD A NEW SHOE", new_page_path %></a>
</nav>
<br>
<section>
  <% @pages.each do |page| %>
    <article>
      <a><%= link_to page.name.upcase, page %></a>
      <br>
      <p id= 'BRAND'> Brand: <%= page.brand.upcase %></p>
      <p> SIZE: <%= page.size %></p>
      <p> STATUS: <%= page.status %></p>
      <p> CONDITION: <%= page.condition %></p>
      <p> ORIGINAL BOX: <%= page.box %></p>
      <%= image_tag page.image, :style => "max-height:300px" %>
      <p> PURCHASE PRICE: <%= page.price1 %></p>
      <p> SOLD FOR: <%= page.price2 %></p>
    </article>
  <% end %>
</section>






