<h1>SHOE THERAPY</h1>

<nav>
  <a><%= button_to link_to "ADD A NEW SHOE", new_page_path %></a>
</nav>
<br>
<section>
  <% @pages.each do |page| %>
    <article>
      <%= link_to page.name.upcase, page %>
      <p id= 'Brand'> Brand: <%= page.brand.upcase %></p>
      <p> Size: <%= page.size %></p>
      <p> Status: <%= page.status %></p>
      <p> Condition: <%= page.condition %></p>
      <p> Original Box: <%= page.box %></p>
      <%= image_tag page.image, :style => "max-height:300px" %>
      <p> Purchase Price: <%= page.price1 %></p>
      <p> Sold For: <%= page.price2 %></p>
    </article>
  <% end %>
</section>




