<h1><%= @page.title %></h1>

<h2><%= link_to "Back to Previous Page", :back %></h2>

<p> Brand: <%= @page.brand %></p>
<p> Size: <%= @page.size %></p>
<p> Status: <%= @page.status %></p>
<p> Condition: <%= @page.condition %></p>
<p> Original Box: <%= @page.box %></p>
<p><%= image_tag @page.image, :style => "max-height:300px" %></p>
<p> Purchase Price: <%= @page.price1 %></p>
<p> Sold For: <%= @page.price2 %></p>

<ul>
    <li><%= link_to "Edit", edit_page_path(@page) %></li>
    <li><%= link_to "Delete", page_path(@page), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                        } %></li>
</ul>