<!DOCTYPE html>
<html>
  <head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Corinthia&family=Klee+One:wght@600&family=Monsieur+La+Doulaise&family=Petit+Formal+Script&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <title>SHOE THERAPY</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class= 'background_image'>
    <%= yield %>
  </body>
</html>
